<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Checkr</title>
	<link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous">
</head>
<body>
	
		<header>
			<div class="container">

				<nav class="float-right">
					<a href="">I Am an Applicant</a>
					<a href="">API &#038; Docs</a>
					<a href="">About Us</a>
					<a href="">Careers</a>
					<div style="clear: both;" class="spacer"></div>
					<div class="float-right">
						<a href="" class="login">LOG IN</a>
						<a href="" class="btn-alt">GET STARTED </a>
					</div>
				</nav>
				<div style="clear: both;"></div>
				<div class="inline-block">
					<a href="">Chechr</a>
				</div>
				<div class="inline-block">
				  <ul>
				    <li>
				      <a href="#" class="title-menu">Product</a>
				      <ul>
				        <li><a href="#">Overview</a></li>
				        <li><a href="#">Screenings</a></li>
				        <li><a href="#">Compliance</a></li>
				        <li><a href="#">Security</a></li>
				      </ul>
				    </li>
				  </ul>
				</div>
				<div class="inline-block">
				  <ul>
				    <li>
				      <a href="#" class="title-menu">Industries</a>
				      <ul class="">
				        <li class="large"><a class="span-size" href="#">Overview</a><a href="#">Contact Center</a></li>
				        <li class="large"><a class="span-size" href="#">Financial Services</a><a href="#">Retail &#038; Hospitality</a></li>
				        <li class="large"><a class="span-size" href="#">Healthcare</a><a href="#">Non Profit</a></li>
				        <li class="large"><a class="span-size" href="#">Staffing</a><a href="#">On-Demand Economy</a></li>
				        <li class="large"><a class="span-size" href="#">Manufacturing</a><a href="#">Software &#038; Technology</a></li>
				        <li class="large"><a class="span-size" href="#">Small Business</a><a href="#">P2P Marketplaces</a></li>
				        <li class="large"><a class="span-size" href="#">Resources</a><a href="#">Overview</a></li>
				        <li class="large"><a class="span-size" href="#">Guides &#038; White Papers</a><a href="#">FAQ</a></li>
				      </ul>
				    </li>
				  </ul>
				</div>
				<div class="inline-block">
				  <ul>
				    <li>
				      <a href="#" class="title-menu">Product</a>
				      <ul>
				        <li><a href="#">Overview</a></li>
				        <li><a href="#">Screenings</a></li>
				        <li><a href="#">Compliance</a></li>
				        <li><a href="#">Security</a></li>
				      </ul>
				    </li>
				  </ul>
				</div>
				
				<div style="clear: both;"></div>
				<section class="left-section">
					<h1>HIRE GREAT PEOPLE. <br> FASTER.</h1>
					<p class="subtitle">Checkr provides modern and compliant background <br> checks for global enterprises and startups.</p>
					<a href="" class="btn"><span class="btn-txt">EXPLORE NOW</span><i class="fa fa-arrow-right arrow-btn" aria-hidden="true"></i></a>
				</section>
				<section class="right-section">
					<video src="https://checkr.com/wp-content/themes/checkr/assets/video/Checkr_Hero.mp4" autoplay loop>
					</video>
				</section>
				<div style="clear: both;"></div>
			</div>
		</header>
	

<!-- Partners -->

</br></br>

<section class="partners">

    <div>

        <h2 class="spacer-top spacer-bottom">More Than 10,000 Businesses Trust Checkr for Their Background Screenings</h2>

    </div>


</section>

</br></br>

<!-- Explain offer -->

<section class="details-offer">

    </br></br>

    <div class="container2">

        <h2 class="spacer-top spacer-bottom">The Next Generation of Background Checks</h2>

        <div class="container2-details-offer">

            

            <div class="content spacer-top spacer-bottom">

                <p><img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-mobile.svg" class="aligncenter"></p>

                <h3><strong>Mobile-Friendly</strong></h3>

                <p>Create a positive applicant experience with simple, mobile-friendly onboarding.</p>

            </div>

            <div class="content">

                <p><img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-computer_easy.svg" class="aligncenter"></p>

                <h3><strong>Easy to Understand</strong></h3>

                <p>Color-coded reports and an intuitive interface makes it possible to review information faster.<a class="green"> See a sample employee background report.</a></p>

            </div>

            <div class="content">

                <p><img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-automation.svg" class="aligncenter"></p>

                <h3><strong>Convenient Automation</strong></h3>

                <p>Reports and violations are categorized to help you remain compliant with individual assessment requirements.</p>

            </div>

            <div class="content spacer-top spacer-bottom">

                <p><img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-communications.svg" class="aligncenter"></p>

                <h3><strong>Simplified and Compliant Communication</strong></h3>

                <p>Automated compliance tools allow you to send adverse action communications in seconds, directly from your dashboard.</p>

            </div>

            <div class="content spacer-top spacer-bottom">

                <p><img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-analytics.svg" class="aligncenter"></p>

                <h3><strong>Fast and Accurate</strong></h3>

                <p>Understand the profile of your applicants and find the best pool of candidates using integrated analytics and reports.</p>

            </div>

        </div>

    </div>

    </br></br>

    <div id="footer">
  <div class="tomottoWrap">
   
  </div>
  <div class="lookWrap">
    <div id="look">
      <div class="section">
        <h3>Support</h3>
        <a href="#">FAQs</a>
        <a href="#">Contact Us</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Shipping Information</a>
        <a href="#">Return Policy</a>
        <a href="#">Item Exchange</a>
        <a href="#">Cash Back Rewards</a>
      </div>
      <div class="section-2">
        <h3>Give & Take</h3>
        <a href="#" class="span-size-2">Gift Certificates</a><a href="#">Gift Certificates</a>
        <a href="#" class="span-size-2">Wishlist</a>  <a href="#">Wishlist</a>
        <a href="#" class="span-size-2">Gift Ideas</a>  <a href="#">Gift Ideas</a>
        <a href="#" class="span-size-2">Refer a Friend</a> <a href="#">Refer a Friend</a>
        <a href="#" class="span-size-2">Reviews</a>   <a href="#">Reviews</a>
        <a href="#" class="span-size-2">Scholarship</a>  <a href="#">Scholarship</a>
        <a href="#" class="span-size-2">Sponsor</a>    <a href="#">Sponsor</a>
      </div>
      <div class="section">
        <h3>Follow Us</h3>
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>        
        <a href="#">Pinterest</a>
        <a href="#">Blog</a>
        <a href="#">Ravelry</a>
        <a href="#">Sponsor</a>
        <a href="#">RSS</a>
      </div>
      <div class="section">
        <h3>About Us</h3>
        <a href="#">About</a>
        <a href="#">Testimonials</a>      
        <a href="#">The Team</a>        
      </div>
       <div class="section">
        <h3>About Us</h3>
        <a href="#">About</a>
        <a href="#">Testimonials</a>      
        <a href="#">The Team</a>        
      </div>            
    </div>
  </div>
  <div class="legality">
        © Copyright 2017 - jean michel Oueb
      </div>
</div>

</section>




</body>
</html>